<a
  class="every-btn btn-floating right btn-small waves-effect waves-light pulse modal-trigger comment-btn"
  href="#comment-modal{{postId}}"
>
  <i class="material-icons">add</i>
</a>

{{! Modal for new comments }}
<div
  id="comment-modal{{postId}}"
  class="modal modal-fixed-footer comment-modal"
>
  <div class="modal-content">
    <h5>Add your comment.</h5>
    <div class="row">
      <form class="col s12" data-post-id="{{postId}}">
        <div class="row">
          <div class="input-field col s12">
            <input id="comment-text{{postId}}" type="text" />
            <label for="comment-text{{postId}}">Write your comment here...</label>
            <span
              class="helper-text"
              id="create-comment-error{{postId}}"
            ></span>
          </div>
        </div>

      </form>
    </div>
  </div>
  <div class="modal-footer">
    <!-- Submit Button -->
    <button
      class="every-btn create-btn btn waves-effect waves-light comment-save-btn"
      data-post-id="{{postId}}"
    >
      Save
      <i class="material-icons right">save</i>
    </button>
  </div>
</div>