{{#if posts}}
  <!-- Create blog posts with cards -->

  <div class="row">
    <div class="col s12 m12">
      {{#each posts as |post|}}

        <div class="card darken-1 hoverable">
          <div class="card-content">
            <h5 class="post-title bolder">{{title}}</h5>
            <br />
            <p>
              {{content}}
            </p>
            <h6 class="right-align">Posted by
              <span class="bolder">{{user.username}}</span></h6>
          </div>
          <div class="card-action">
            <ul class="collapsible popout">
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">comment</i>Comments
                  <span class="badge">{{comments.length}}</span>
                </div>
                {{#if comments}}
                  {{#each comments as |comment|}}
                    <div class="collapsible-body">
                      <p>{{comment_text}}</p>
                      <h6> - {{user.username}}</h6>
                      <a
                        class="every-btn btn-floating right btn-small waves-effect waves-light pulse"
                      >
                        <i class="material-icons">add</i>
                      </a>
                    </div>
                  {{/each}}
                {{else}}
                  <div class="collapsible-body">
                    <p>No comments yet!</p>
                    <a
                      class="every-btn btn-floating right btn-small waves-effect waves-light pulse"
                    >
                      <i class="material-icons">add</i>
                    </a>
                  </div>
                {{/if}}
              </li>
            </ul>
          </div>
        </div>

      {{/each}}
    </div>
  </div>

{{else}}

{{/if}}